html,
body {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.logged-out .landing-page {
  background-color: #fff;
}

.logged-in .landing-page {
  background-color: #a5a5a5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #333;
  color: white;
}

.navbar-brand {
  font-size: 1.5rem;
}

.login-button,
.logout-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 2px;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-container {
  transition: filter 0.3s ease;
}

.card-container.blur {
  filter: blur(5px);
}

.App-header {
  padding: 2rem;
}

.card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.car-card {
  border: 1px solid #ccc;
  padding: 1rem;
  width: 200px;
  text-align: center;
}

.car-card img {
  width: 100%;
  height: auto;
}

.login-page,
.signup-page {
  padding: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form div {
  margin-bottom: 1rem;
}

form label {
  margin-right: 0.5rem;
}

form input {
  padding: 0.5rem;
  font-size: 1rem;
}

form button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.login-page p,
.signup-page p {
  margin-top: 1rem;
}